/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) 
{ .container {
        max-width: 100%;
    }
    .f_left {
    width: 50%;
    float: left;
    display:inline-block;
    }
.header{
font-size: 10px;
 }
 .nav {
    flex-wrap: wrap;
    justify-content: center;
  }
   .nav-link {
    font-size: 12px;
    padding: 4px 6px;
  }
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
.container {
        max-width: 540px;
    }
     .f_left {
    width: 50%;
    float: left;
    display:inline-block;
    }

    
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .container{
        max-width:720px;}
    

    }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.container{
  max-width:960px;}
  }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .container{
      max-width:1140px;}
  } 
       

/*Extra Extra large devices (Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .container {
    max-width: 1320px;}
  }
